body {
  font-family: "Montserrat-black", sans-serif;
}

#title {
  background-image: url("https://img.freepik.com/free-photo/abstract-techno-background-with-connecting-lines_1048-5570.jpg?w=740");
  color: #fff;
  
}

.container {
  padding: 50px 0 40px 0;
  width: 630px;
}

h3 {
  margin-top: 20px;
}

h1 {
  font-family: "Montserrat-black", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 5% 15%;
  padding-bottom: 5%;
}

.icon {
  color: #080950;
}

.icon:hover {
  color: rgb(141, 172, 212);
}


.rotate {
  margin-top: 5px;
  position: absolute;
  width: 60%;
  margin-left: 15%;
}

/* navigation bar */
.navbar-brand {
  font-size: 2.5rem;
  font-family: "Ubuntu";
  font-weight: bold;
}

.navbar {
  padding: 0 0 4.5rem 0;
}

.nav-item {
  padding: 0 1.5rem;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
}

/* buttons */
.Download-button {
  margin: 8% 0 0 0;
}

.Download-button-2 {
  margin: 8% 0 0 5%;
}


.btn {
  background-image: linear-gradient(to bottom, rgb(31, 13, 13), rgb(21, 68, 129));

}

.btn:hover {
  background-image: linear-gradient(to bottom, rgb(72, 121, 185), rgb(24, 24, 26));
}

/* features */
#features {
  background-color: #fff;
  position: relative;
  /* z-index: 2.5; */
  padding: 5% 0;
}

/* skills */
#skills {
  text-align: center;
  background-image: linear-gradient(to bottom right, rgb(31, 13, 13), rgb(21, 68, 129));
  font-family: "Montserrat-black", sans-serif;
  color: #fff;
  padding: 45px 0;
}

.skills-text {
  color: #fff;
  font-family: "Montserrat-black", sans-serif;
  font-size: 2.6rem;
  line-height: 1.4;
}

.skills-image {
  padding: 0px 0;
  width: 10%;
  border-radius: 100%;
}

.carousel-item {
  padding: 60px 200px 60px 200px;
}

/* webd images */
#webd {
  text-align: center;
  background-image: linear-gradient(to bottom right, rgb(31, 13, 13), rgb(21, 68, 129));

}

.webd-image {
  width: 15%;
  padding: 40px 40px 20px;
}

/* projects */
#projects {
  padding: 100px 100px 10px;
  text-align: center;
  
}

.projects-row {
  padding: 3% 2%;
}

.card-header {
  color: #fff;
  background-image: linear-gradient(to bottom, rgb(31, 13, 13), rgb(21, 68, 129));
}
.card-body {
  background-color: rgb(172, 198, 231);
}

/* Aprojects */
#Aprojects {
  padding: 10px 50px 100px;
  text-align: center;
}

.Aprojects-row {
  padding: 3% 2%;
}

/* media query breakpoints */
@media (max-width: 991px) {
  #title {
    text-align: center;
  }
}

.rotate{
  border-radius: 50%;
  width: 70%;
}


/* footer */

#footer {
  background-image: linear-gradient(to bottom right, rgb(31, 13, 13), rgb(21, 68, 129));
  text-align: center;
  /* margin: 5% 5%; */
  padding: 10% 5% 5%;
  font-family: "Montserrat-light", sans-serif;
}

.footericons {
  padding: 0 20px 25px;
  color: rgb(252, 246, 246);
}
.footericons:hover{
  color: rgb(124, 116, 116);

}

.footercopy {
  color: bisque;
  font-size: 0.9rem;
}
